<h2>Current Seating Status</h2>

<table>
  <tr>
    <th>Customers Waiting To Be Seated</th>
    <th>Cancel Check-In</th>
  </tr>
  <% @seatings.each do |seating| %>
    <% if !seating.assigned %>
      <tr>
        <td><%= link_to "#{Customer.find(seating.customer_id).first_name} #{Customer.find(seating.customer_id).last_name}", merchant_seating_path(@merchant,seating) %></td>
        <td><%= link_to "Remove Check-in", merchant_seating_path(@merchant, seating), method: :delete %></td>
      </tr>
    <% end %>
  <% end %>
</table>


<table>
  <tr>
    <th>Currently Seated Customers</th>
    <th>Edit Customer Bill</th>
  </tr>
  <% @seatings.each do |seating| %>
    <% if seating.assigned && !seating.bill.paid %>
      <tr>
        <td><%= link_to "#{Customer.find(seating.customer_id).first_name} #{Customer.find(seating.customer_id).last_name}", merchant_seating_path(@merchant,seating) %></td>
        <td><%= link_to 'Edit Bill', edit_bill_path(seating.bill_id) %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<table>
  <tr>
    <th>Completed Transactions</th>
    <th>View Customer Bill</th>
  </tr>
  <tr>
    <% @seatings.each do |seating| %>
      <% if seating.bill.paid %>
        <tr>
          <td><%= link_to "#{Customer.find(seating.customer_id).first_name} #{Customer.find(seating.customer_id).last_name}", merchant_seating_path(@merchant,seating) %></td>
          <td><%= link_to 'View Bill', bill_path(seating.bill_id) %></td>
        </tr>
      <% end %>
    <% end %>
  </tr>
</table>

<p><%= link_to 'Back', merchant_path(@merchant) %></p>


