<h1><%= @merchant.business_name %></h1>


<h2>Your info</h2>
<table>
  <tr>
    <td>Email:</td>
    <td><%= @merchant.email %></td>
  </tr>
  <tr>
    <td>Financial Info:</td>
    <td><%= @merchant.financial_info %></td>
  </tr>
</table>

<p><%= link_to "Menu", merchant_items_path(@merchant) %><p>
<p><%= link_to("Edit Your Info", edit_merchant_path(@merchant)) %>
<p><%= link_to("See Your Seatings!", merchant_seatings_path(@merchant)) %><p>
<p><%= link_to 'Back', merchants_path %></p>

