<!DOCTYPE html>
<html>
  <head>
    <title>Slice it</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <%= csrf_meta_tags %>
      <div class='header'>
        <div class='links'>
          <% if logged_in? %>
            <p>
              <%= link_to("Log Out", logout_path, method: :delete) %>
              <%= link_to "Home", merchant_path(current_user) %>
            </p>
          <% else %>
            <p><%= link_to "Home", root_path %></p>
          <% end %>
        </div>
        <div class='title'></div>
      </div>
  </head>

  <body>
    <div class="parallax-container">
      <div class="parallax"><img src="<%= asset_path 'group1.jpg' %>" /></div>
    </div>
    <div class="row container">
      <p class="grey-text text-darken-3 lighten-3"><%= yield %></p>
    </div>
    <div class="parallax-container">
      <div class="parallax"><%= image_tag 'group3.jpg' %></div>
    </div>

  </body>
</html>
